@import 'variables';
@import 'mixins';

.hero {
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    max-width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/hero.jpg'), linear-gradient(to bottom, #000000, #1a1a1a);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.75); 
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      position: relative;
    }

    &__logo {
      width: 150px;
      height: auto;
    }

    &__social-icons {
      display: flex;
      gap: 15px;

      a {
        color: inherit;
        text-decoration: none;
      }

      i {
        font-size: 1.5rem;
        color: #f0f0f0; 
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: #28de67; 
        }
      }
    .hero__language-switcher {
    font-size: 1rem;
    display: flex;
    gap: 5px;
    color: #ffffff;
    cursor: pointer;
    span {
        transition: color 0.3s ease;
        &.active {
          font-weight: bold;
          color: #28de67;
        }

        &:hover {
          color: #28de67;
        }
      }
    } 
  }

    &__content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      z-index: 1;
      max-width: 800px;
      margin: 0 auto;
      text-align: left;
    }

    &__heading {
      font-size: 3.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
      line-height: 1.2;
      color: #ffffff; 
      text-align: left;

      @media (max-width: 768px) {
        font-size: 2.5rem;
      }
    }

    &__contact-info {
      font-size: 1.1rem;
      color: #bfbfbf; 
      margin-bottom: 0.5rem;
    }

    &__availability {
      font-size: 1.1rem;
      color: #28de67; 
      margin-bottom: 1rem;
    }

    &__description {
      font-size: 1.3rem;
      margin-bottom: 2rem;
      color: #d3d3d3;
      @media (max-width: 768px) {
        font-size: 1.1rem;
      }
    }

    &__cta {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 2rem;
      background-color: $primary-color;
      color: $text-color;
      text-decoration: none;
      border-radius: 25px;
      font-size: 1.2rem;
      font-weight: bold;
      @include transition-all;
      @include button-hover;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      position: relative;
      width: 180px;
      margin-left: auto;
      margin-right: auto; 
      margin-top: 60px;

      &:hover {
        color: #ffffff;
        .hero__cta-text {
          transform: translateX(-15px);
        }
      }

      &-text {
        transition: transform 0.3s ease;
      }

      &-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 40px;
        opacity: 0;
        transform: translateX(10px);
        @include transition-all;
      }

      &:hover &-icon {
        opacity: 1;
        transform: translateX(0);
      }

      @media (max-width: 768px) {
        font-size: 1.1rem;
        padding: 0.8rem 1.5rem;
        width: 160px;
      }
    }

    &__additional-buttons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 1rem;
      width: 100%;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
    }

    &__button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.8rem 1.5rem;
      background-color: #ffffff;
      color: #000000;
      text-decoration: none;
      border-radius: 25px;
      font-size: 1rem;
      font-weight: bold;
      @include transition-all;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 180px;
      position: relative;
      overflow: hidden;

      &:hover {
        @include button-hover;
        color: #ffffff;
        .hero__button-text {
          transform: translateX(-15px);
        }

        .hero__button-icon {
          opacity: 1;
          transform: translateX(0);
        }
      }

      &-text {
        transition: transform 0.3s ease;
      }

      &-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 20px;
        opacity: 0;
        transform: translateX(10px);
        @include transition-all;
      }

      @media (max-width: 768px) {
        width: 100%;
        max-width: 200px;
        margin-bottom: 0.5rem;
      }
    }

    &__location-mode {
      position: absolute;
      bottom: 20px;
      right: 20px;
      color: #ffffff;
      text-align: right;

      p {
        margin-bottom: 5px;
      }
    }

    @media (max-width: 768px) {
      &__header {
        flex-direction: column;
        align-items: flex-start;
      }

      &__logo {
        margin-bottom: 1rem;
      }

      &__social-icons {
        align-self: flex-end;
      }

      &__location-mode {
        position: static;
        margin-top: 2rem;
        text-align: center;
      }
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #d3d3d3;
      transition: .4s;
      border-radius: 34px;

      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #ffffff;
        transition: .4s;
        border-radius: 50%;
      }
    }

    input:checked + .slider {
      background-color: #28de67; 
    }

    input:checked + .slider:before {
      transform: translateX(26px);
    }

    input:disabled + .slider {
      background-color: #ccc;
      cursor: not-allowed;
    }

    input:disabled + .slider:before {
      background-color: #999;
    }
  }

  .developer-mode-text {
    opacity: 0.5;
  }