@import '../styles/variables.scss';
@import '../styles/mixins.scss';
.project-card {
  position: relative;
  width: 100%;
  max-width: 800px;
  min-height: auto; 
  background-color: $background-color;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
  &__close-button {
    position: absolute;
    top: 1%;
    right: 10px;
    width:  clamp(20px, 5vw, 50px);
    height:  clamp(20px, 5vw, 50px);
    font-size: clamp(16px, 3vw, 22px);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 8px;
    color: $primary-color;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    line-height: 1;
    z-index: 2;

    &::before {
      content: '×';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      transition: transform 0.3s ease, color 0.3s ease;
    }

    &:hover, &.button-active {
      background-color: rgba(0, 0, 0, 0.7);

      &::before {
        color: red;
        transform: translate(-50%, -50%) rotate(90deg) scale(1.1);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
  }

  &__image-container {
    position: relative;
    z-index: 1;
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: clamp(5px, 2vw, 15px);
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    line-height: 1.2;
    margin: 0;
  }

  &__details {
    padding: 20px;
    z-index: 2;
    flex: 1 1 auto; 
  }
  &__description {
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  &__tag {
    background-color: $primary-color;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8rem;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
  }

  &__button {
    @include transition-all;
    background-color:white ;
    color: $primary-color;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    overflow: hidden;
    position: relative;
    border: 1px solid $primary-color;
    width: 150px;
    height: 25px;
    span {
      transition: transform 0.3s ease;
      white-space: nowrap;
    }

    img {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 5px;
      opacity: 0;
      transform: translateX(10px);
      @include transition-all;
    }
    &:hover, &.button-active {
      background-color: darken($primary-color, 10%);
      color: white;
      @include button-hover;
      span {
        transform: translateX(-15px);
      }

      img {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  @media (max-width: 320px) {
  }
  @media (max-width: 375px) {
    
  }
  @media (max-width: 414px) {
    &__buttons {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__button {
    width: 50%;
    height: 50%;
    max-width: 200px;
    height: auto;
    padding: 10px;
    
    span {
      display: inline;
      font-size: 0.9rem;
    }

    img {
      position: static;
      opacity: 0;
      transform: none;
      margin-left: 5px;
      width: 20px;
      height: 20px;
      transition: transform 0.3s ease;
      transform: translateX(10px);
    }
    &:hover, &.button-active {
      img {
        opacity: 1;
        transform: scale(1.1);
        transform: translateX(0);
      }
    }
  }
  }
  @media (max-width: 768px) {
    &__title {
      font-size: 1.2rem;
    }

    &__description {
      font-size: 0.9rem;
    }

    &__tag {
      font-size: 0.7rem;
    }
    &__tags {
      margin: 20px;
    }
   
  }
  @media (max-width: 1024px) {
  }
  @media (max-width: 1280px) {
  }
  @media (max-width: 1440px) {
  }
  @media (max-width: 1920px) {
  }
  @media (max-width: 2560px) {
  }
  
}