$primary-color: #28de67;
$primary-color-hover: #1ebd53;
$background-color: #1a1a1a;
$text-color: #ffffff;
$text-color-secondary: #d3d3d3;

$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$font-size-large: 1.5rem;

$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;

$border-radius: 10px;
$border-radius-round: 25px;

$transition-duration: 0.3s;
